.Contact {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    padding: 0 0px;
}
.Contact-inner {
    width: 85%;
    min-height: 300px;
    background: white;
    border: 3px solid var(--purple);
    box-shadow: 0 1px 5px rgba(0,0,0,.46);
    border-radius: .5rem; 
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.form-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.form-email {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-top input {
    width: 45% !important;
}
.form-top input:focus {
    animation: selectForm .2s forwards;
}
.Contact-inner input {
    width: 95%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 100%;
    padding: 10px 0px;
    margin: 10px;
    font-weight: 700;
    border-bottom: 2px solid #3e3e3e;
    background:none;

}

@keyframes selectForm {
    from {
        border-bottom: 2px solid #3e3e3e;
    }
    to {
        border-bottom: 2px solid var(--purple);
    }
}

@media screen and (max-width: 750px) {
    .form-top {
        flex-direction: column;
        align-items: center;
    }
    .form-top input {
        width: 90% !important;
    }
}