.Navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 60px;
    background: ;
    color: var(--purple);

    text-align: left;
}
.Navbar-inner {
    width: 100%;
    height: 100%;
    padding: 0 15px; 

}

.raise {
    animation: raise 1s forwards;
}

@keyframes raise {
    from{
    
    }
    to{
        box-shadow: 0 1px 5px rgba(0,0,0,.46);
        background: var(--purple);
        color: white;
    }
}


@media screen and (min-width: 1000px){

    .Navbar-inner {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1000px;
        margin: 0 15px;
    }
}
.logo {
    text-decoration: none;
    font-family: var(--main);
    color: inherit;
    font-weight: 900;
    font-size: 2.5rem;
}