@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
  --main: 'Nunito', sans-serif;

  --purple: #42489E;
  --pink: #D05EA3;
  --off-purple: #5470B6;
  --yellow: #FFCF45;
}

.big-circle-bg {
  display: none;
  position: fixed;
  top: -25%;
  left: -25%;
  height: 750px;
  width: 750px;
  z-index: 0;
  background: #DBE8F7;
  border-radius: 100%; 
}
.small-circle-bg {
  display: none;
  position: fixed;
  top: -10%;
  left: 90%;
  z-index: 0;

  width: 250px;
  height: 250px;
  background: #DBE8F7;
  border-radius: 100%; 
}

.App {
  font-family: var(--main);
  background: var(--purple);

  width: 100%;
  height: 100%;
}
.Content {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  padding-top: 60px;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1000px){

  .Content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      max-width: 1000px;
  }
  .big-circle-bg {
    display: block;
  }
  .small-circle-bg {
    display: block;
  }

}