@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
  --main: 'Nunito', sans-serif;

  --purple: #42489E;
}

.App {

}
.Content {
  position: absolute;
  top: 60px;
  left: 0;
  padding: 0 15px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1000px){

  .Content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      max-width: 1000px;
  }
}
