@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
  --main: 'Nunito', sans-serif;

  --purple: #42489E;
  --pink: #D05EA3;
  --off-purple: #5470B6;
  --yellow: #FFCF45;
}

.big-circle-bg {
  display: none;
  position: fixed;
  top: -25%;
  left: -25%;
  z-index: 0;
  background: #DBE8F7;
  border-radius: 100%; 
  animation: growBig 2s forwards;
}
.small-circle-bg {
  display: none;
  position: fixed;
  top: -10%;
  left: 90%;
  z-index: 0;
  background: var(--pink);
  border-radius: 100%; 
  animation: growSmall 2s forwards;
}
.small-circle-bg-two {
  display: none;
  position: fixed;
  bottom: -25%;
  left: 70%;
  z-index: 0;
  background: var(--yellow);
  border-radius: 100%; 
  animation: growSmall 2s forwards;
}

.App {
  font-family: var(--main);
  background: var(--purple);

  width: 100%;
  height: 100%;
}
.Content {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  padding-top: 60px;
  width: 100%;
  height: 2000px;
}
@media screen and (min-width: 1000px){

  .Content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      max-width: 1000px;
  }
  .big-circle-bg {
    display: block;
  }
  .small-circle-bg {
    display: block;
  }
  .small-circle-bg-two {
    display: block;

  }

}

@keyframes growBig {
  from {
    height: 100px;
    width: 100px;
  }
  to {
    height: 750px;
    width: 750px;
  }
}
@keyframes growSmall {
  from {
    height: 50px;
    width: 50px;
  }
  to {
    height: 250px;
    width: 250px;
  }
}